version: "3.8"

services:
  web:
    build: .
    container_name: skynet_app
    ports:
      - "5050:5050"
    volumes:
      - ./instance:/app/instance
    env_file:
      - .env
    restart: always
    environment:
      BACKEND_URL=http://web:5050